@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;700;800&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Inter', sans-serif;
}


main{
    width: 100vw;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
}

#form{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    padding: 30px 35px;
    
    border-radius: 20px;
    border: 1px solid black;
}

#form h1{
    color: black;
    font-size: 18pt;
}

.form-2{
    width: 100%;
    display: flex;
    align-items: flex-start;
    justify-content: center;
    flex-direction: column;
    margin: 10px 0px;
}

.form-3{
    width: 100%;
    font-size: 12pt;
    display: flex;
    justify-content: space-between;
}

.form-2 input{
    width: 100%;
    border: none;
    border-radius: 10px;
    padding: 15px 0px 15px 15px;
    
    color: black;
    border: 1px solid black;
    outline: none;
}

.form-2 input::placeholder{
    color: black;
}

#num{
    width: 70%;
}

.form-2 label{
    color: black;
    margin-bottom: 10px;
    font-size: 12pt;
}

#form .button{
    width: 100%;
    padding: 16px 0px;
    margin: 15px 0px 0px 0px;
    border: none;
    border-radius: 10px;
    outline: none;
    font-weight: 800;
    letter-spacing: 3px;
    color: black;
    background-color: white;
    border: 1px solid black;
    cursor: pointer;
}

#adicionar{
    width: 25%;
    padding: 16px 0px;
    border: none;
    border-radius: 10px;
    outline: none;
    font-weight: 800;
    letter-spacing: 3px;
    color: black;
    background-color: white;
    border: 1px solid black;
    cursor: pointer;
}

